@page
@model DeleteModel
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Delete Style";
}

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2>@ViewData["Title"]</h2>
            <page-button path="Styles/Index" bootstrap-style="primary" glyph="info-sign"
                         description="Back to List"></page-button>
            <page-button path="Styles/Edit" bootstrap-style="success" glyph="pencil"
                         description="Edit" id="@Model.Input.StyleId"></page-button>
            <page-button path="Index" bootstrap-style="warning" glyph="list-alt"
                         description="Dashboard"></page-button>
            <p></p>
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(m => m.Input.Name)</dt>
                <dd>@Html.DisplayFor(m => m.Input.Name)</dd>
                <dt># of Inventory Entries</dt>
                <dd>@Model.Input.ProductInventory.Count</dd>
            </dl>
            <form method="post" id="form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Input.StyleId" />
                <input type="hidden" asp-for="Input.Name" />
                <button type="button" class="btn btn-danger" 
                data-toggle="modal" data-target="#confirm-submit">Delete</button>
            </form>
        </div>
    </div>

    <!--Confirmation modal-->
    <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-danger">Please Confirm</h4>
                </div>
                <div class="modal-body">
                    <span class="glyphicon glyphicon-alert text-danger"></span>
                    &nbsp;&nbsp;
                    <span class="text-danger">
                        Are you sure you want to delete category <strong>@Model.Input.Name</strong>?
                    </span>

                    @if (Model.Input.ProductInventory.Count > 0)
                    {
                        <p></p>
                        <p>
                            There are <strong>@Model.Input.ProductInventory.Count</strong> inventory entries associated with this style.
                            The <strong>@Model.Input.ProductInventory.Count</strong> inventory entries
                            will be deleted as well if you decide to proceed. Please click
                            <span style="color:white; background-color: green;">&nbsp;Cancel&nbsp;</span> if you are not sure.
                        </p>
                    }

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger confirm">Yes!</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @await Html.PartialAsync("_ConfirmModalScriptsPartial")
}

